#wrap{
	height: 100%;
	width:100%;	
}
#header{
	height: 6.27%;
	width:100%;
	background: #1c1f32;
	position: fixed;
	top: 0;
}
#main{
	height: 87.46%;
	width:100%;
	background: yellowgreen;
	position: absolute;
	bottom: 6.27%;
}
#tab{
	height: 6.27%;
	width:100%;
	background: #1c1f32;
	position: fixed;
	bottom: 0;
}
#tab ul{
	height: 100%;
	width:100%;
}
#tab ul li{
	width:25%;
	height: 100%;
	float: left;
}
#tab ul li a{
	display: block;
	height: 100%;
	width:100%;
	font-size: 1.2rem;
	text-align: center;
	color: white;
}
