#wrap{
	height: 100%;
	width:100%;	
}
#header{
	height: 6.27%;
	width:100%;
	background: url(../img/logo.png)no-repeat 1.4rem center #1c1f32;
	background-size:2.7rem;
	position: fixed;
	top: 0;	
	padding-left:4.7rem;
	z-index: 9999;
}
#header h3{
	color:#fff;
	font-weight: normal;
	margin-top:0.4rem;
	font-size:1rem;
}
#header a{
	float:right;
	height: 2.5rem;
	width:7.3rem;	
	margin: 0.7rem 1.3rem 0.6rem 0;
}
#header a img{
	display: block;
	height: 100%;
	width: 100%;
}
#header p{
	color:#636980;
}
#main{
	height: 100%;
	width:100%;
	background: white;
	top: 0;
	position: absolute;
	padding-top: 6.27%;
}
#tab{
	height: 6.27%;
	width:100%;
	position: fixed;
	bottom: 0;
}
#tab ul{
	height: 100%;
	width:100%;
	background-size:cover ;
}
#tab ul li{
	width:25%;
	height: 100%;
	float: left;
}
#tab ul li a{
	display: block;
	height: 100%;
	width:100%;
	font-size: 1rem;
	text-align: center;
	color: white;
	padding-top:2.4rem;
	color: #b6b8be;
}
#tab ul li:nth-child(1) a{
	background: url(../img/snavnew11.png)no-repeat left #d7b87f;
	background-size: 400% 100%;
}
#tab ul li:nth-child(2) a{
	background: url(../img/snavnew11.png)no-repeat  33.5% #2d3140;
	background-size: 400% 100%;
}
#tab ul li:nth-child(3) a{
	background: url(../img/snavnew11.png)no-repeat  67% #2d3140;
	background-size: 400% 100%;
}
#tab ul li:nth-child(4) a{
	background: url(../img/snavnew11.png)no-repeat  100% #2d3140;
	background-size: 400% 100%;
}