<div class="mSpace"></div>
<ul id="hList">
	<li>
		<a href="javascript:void(0)">全部</a>
	</li>
	<li>
		<a href="javascript:void(0)">战士</a>
	</li>
	<li>
		<a href="javascript:void(0)">法师</a>
	</li>
	<li>
		<a href="javascript:void(0)">坦克</a>
	</li>
	<li>
		<a href="javascript:void(0)">刺客</a>
	</li>
	<li>
		<a href="javascript:void(0)">射手</a>
	</li>
	<li>
		<a href="javascript:void(0)">辅助</a>
	</li>
</ul>
<ul class="heroList">
	<li ng-repeat="item in data">
		<dt><img src="{{item.imgUrl}}" alt="" /></dt>
		<dd>{{item.name}}</dd>
	</li>
</ul>