.v-o-videos{
	height: 11.6rem;
	width: 44%;
	float: left;
	margin-top:1.2rem ;
}
.v-o-videos:nth-child(odd){
	margin:1.2rem 0.7rem 0 1.7rem;
}

.v-o-videos a {
	display: block;
	width:100%;
	height:10.2rem;
	position: relative;
}
.v-o-videos a img{
	width:100%;
	height: 78.43%;
	border-radius: 6px;
}
.v-o-videos a >span:nth-of-type(1){
	position: absolute;
	top:3.8rem;
	left:6.5rem;
	height: 2.4rem;
	width: 2.4rem;
	border-radius: 50%;
	background: url(../img/index.png)no-repeat -1.78rem 0.1rem;
	background-size: 600%;
}
.v-o-videos a >span:nth-of-type(2){
	display: block;
	font-size: 1.4rem;
	height: 2.6rem;
	padding-top:0.8rem ;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.v-o-videos a p span:nth-child(2){
	float: right;
}
.v-o-videos a p span:nth-child(1){
	padding-left: 1.4rem;
	background:url(../../../img/play.png)no-repeat left center;
	background-size: 1rem 0.8rem;
}