.guide-h-dl{
	height: 5rem;
	width: 30rem;
	margin:1rem auto 0;
}
.guide-h-dl dt{
	height: 100%;
	width: 5rem;
	float: left;
}
.guide-h-dl dt a,.guide-h-dl dt a img{
	display: block;
	height: 100%;
	width:100%;
	border-radius: 3px;
}
.guide-h-dl dd{
	width:25rem ;
	float: left;
	height: 100%;
	padding-left:1.2rem;
}
.guide-h-dl dd a{
	color: #d2d5d7;
}
.guide-h-dl dd a:nth-of-type(1){
	float: left;
	width: 17.6rem;
	height: 100%;
}
.guide-h-dl dd a:nth-of-type(2){
	float: left;
	width: 6.2rem;
	height: 100%;
}
.guide-h-dl dd a:nth-of-type(1) p:nth-of-type(1){
	height:1.8rem;
	line-height: 1.8rem;
	color:#000;
	font-size: 1.3rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.guide-h-dl dd a:nth-of-type(1) p:nth-of-type(2){
	line-height: 1.8rem;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.guide-h-dl dd a:nth-of-type(2) span{
	display: block;
	text-align: right;
}
.guide-h-dl dd a:nth-of-type(2) span:first-of-type{
	padding-right:1.4rem;
	height: 2rem;
	background: url(../../../img/dic.png)no-repeat right 0.2rem;
	background-size: 1.2rem;
}
.guide-h-dl dd a:nth-of-type(2) span:last-of-type{
	line-height: 1.8rem;
}

