.forNew-show >h3{
	height: 4.7rem;
	line-height: 6rem;
	background: url(../../../img/go_icon_01.png)no-repeat left 2.4rem;
	background-size:1.3rem 1.3rem ;
	text-indent:1.5rem;
	font-weight: normal;
}
.forNew-show >h3:nth-of-type(2){
	background: url(../../../img/go_icon_04.png)no-repeat left 2.4rem;
	background-size:1.3rem 1.3rem ;
}
.forNew-intr{
	height: 34rem;
	width: 100%;
	background: #fff;
	padding:1rem 1rem 0;
}
.forNew-intr img{
	display: block;
	height:16.8rem;
	width:100%;
	border-radius: 0.3rem;
}
.forNew-intr h3{
	font-size: 1.6rem;
	height: 4.8rem;
	width:100%;
	line-height:5rem;
	font-weight:normal;
}
.forNew-intr  p{
	font-size:1.4rem;
	line-height: 1.5rem;
}
.forNew-intr1{
	height: 34rem;
	width: 100%;
	background: #fff;
}
.forNew-intr1 .forNew-intr2{
	height: 15%;
	width: 100%;
	position:relative;
	padding:0.1px;
}
.forNew-intr1 .forNew-intr2 ul{
	height: 2.3rem;
	width:100%;
	position: absolute;
	top:3rem;
}
.forNew-intr1 .forNew-intr2 ul li{
	height: 2.3rem;
	width:2.3rem;
	border-radius: 50%;
	border:1px solid #d9d9d9;
	float: left;
	margin: 0 2rem;
}
.forNew-intr1 .forNew-intr2 ul li a{
	display: block;
	height: 2rem;
	width:2rem;
	border-radius: 50%;
	background: #2784e0;
	position: relative;
}
.forNew-intr1 .forNew-intr2 ul li a span{
	position: absolute;
	height: 2.2rem;
	width:5.4rem;
	top:-2.2rem;
	left: -1.5rem;
	text-align:center;
	background: url(../../../img/back.png) no-repeat;
	background-size:100% 90% ;
}
.forNew-intr1 .outer{
	height: 85%;
	width: 100%;
	overflow: hidden;
}
.forNew-intr2 >p{
	width: 25rem;
	height:0.3rem;
	border:1px solid red;
	background: #fff;
	margin: 4rem auto 0;
}
.forNew-intr1 .outer div{
	height: 100%;
	width:100%;
	padding:0 1rem;
	overflow: hidden;
}
.forNew-intr1 .outer div h3{
	height: 4.6rem;
	line-height: 4.6rem;
}
.forNew-intr1 .outer div p{
	font-size:1.4rem;
	line-height: 1.6rem;
}
.forNew-intr1 .outer div img{
	display: block;
	height: 17rem;
	width: 100%;
}
