.g-search{
	height: 3.4rem;
	width: 100%;
	line-height: 3.4rem;
	text-align: center;
}
.g-search input{
	height: 2rem;
	width:28.4rem;
	color: #9fa0a1;
	line-height: 2rem;
	border:none;
	background: #f1f3f5;
}
.g_banner {
	height: 13.8rem;
	width:100%;
}
 .g_banner .swiper-container,  .g_banner .swiper-container .swiper-wrapper, .g_banner .swiper-container .swiper-wrapper .swiper-slide ,.g_banner img{
 	height: 100%;
 	width:100%;
 }
 .g_banner  .swiper-container .swiper-pagination{
	display: none !important;
}
.g_banner .swiper-container .swiper-wrapper .overTitile{
	height: 3.8rem;
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom:0rem;
	z-index: 999;
	font-size: 2rem;
	color:#fff;
	line-height: 3.8rem;
	white-space: nowrap;
	text-overflow: inherit;
	overflow: hidden;
	text-indent:2rem;
	animation: v_show 2s infinite;
}
@keyframes v_show{
	0%{transform: translateY(0%);}
	20%{transform: translateY(100%);}
	80%{transform: translateY(100%);}
	100%{transform: translateY(0%);}
}
.g-listTab{
	height: 3rem;
	width:100%;
	background: #f1f3f5;
	border-bottom:1px solid #e2e6e9;
}
.g-listTab li{
	width: 20%;
	height: 100%;
	float: left;
}
.g-listTab li a{
	display: block;
	height: 100%;
	width:100%;
	font-size: 1.4rem;
	line-height: 3rem;
	text-align: center;
}
v-listShow{
	width: 100%;
}